<a href="https://colab.research.google.com/github/Nithilan98/DataScience_Task_7/blob/main/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [12]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

**Step 2: Importing dataset**

In [13]:
df = pd.read_csv("Data.csv")
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

**Step 3: Handling the missing data**

In [14]:
df.shape

(10, 4)

In [15]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [16]:
df=df.interpolate()
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  59500.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  41.5  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 4: Encoding categorical data**

In [7]:
df.Country.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [17]:
df_copy = df.copy()

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer
encoder=OneHotEncoder(handle_unknown='ignore')
lb=LabelBinarizer()
le=LabelEncoder()
df_copy["Country"]=le.fit_transform(df_copy["Country"])
df_copy["Purchased"]=lb.fit_transform(df_copy["Purchased"])

In [19]:
df_copy

   Country   Age   Salary  Purchased
0        0  44.0  72000.0          0
1        2  27.0  48000.0          1
2        1  30.0  54000.0          0
3        2  38.0  61000.0          0
4        1  40.0  59500.0          1
5        0  35.0  58000.0          1
6        2  41.5  52000.0          0
7        0  48.0  79000.0          1
8        1  50.0  83000.0          0
9        0  37.0  67000.0          1

**Step 5: Creating a dummy variable**

In [20]:
pd.get_dummies(df)

,Age,Salary,Country_France,Country_Germany,Country_Spain,Purchased_No,Purchased_Yes
0,44.0,72000.0,1,0,0,1,0
1,27.0,48000.0,0,0,1,0,1
2,30.0,54000.0,0,1,0,1,0
3,38.0,61000.0,0,0,1,1,0
4,40.0,59500.0,0,1,0,0,1
5,35.0,58000.0,1,0,0,0,1
6,41.5,52000.0,0,0,1,1,0
7,48.0,79000.0,1,0,0,0,1
8,50.0,83000.0,0,1,0,1,0
9,37.0,67000.0,1,0,0,0,1

**Step 6: Splitting the datasets into training sets and Test sets**

In [22]:
x=df.drop(["Country","Purchased"],axis=1)
y=df.Purchased

# splitting the dataset into training set and test set
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2, random_state=0)

**Step 7: Feature Scaling**

In [26]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [27]:
X_train

array([[ 0.20145619, -0.26766531],
       [-0.30748577,  0.51574535],
       [-2.00395898, -1.46889498],
       [ 0.45592718, -1.05107597],
       [ 1.55863476,  1.7692024 ],
       [-0.13783845, -0.11098318],
       [ 0.88004548,  1.03801912],
       [-0.64678041, -0.42434744]])

In [30]:
X_test

array([[3.0e+01, 5.4e+04],
       [5.0e+01, 8.3e+04]])